# Module - 1

# Data Pre-Processing

In [1]:
import pandas as p
import numpy as n

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
data = p.read_csv('Data.csv')

In [4]:
data.head()

,Unnamed: 0,address,year,day,length,weight,count,looped,neighbors,income,label
0,0,112Ns49UobQn1cX1G1axs1cmGvjFBxVxvf,2016,146,144,0.877485,4817,0,1,104020000.0,montrealCryptXXX
1,1,112wED5uHhY1aiSaWAzgeMDaCKFcCvj9Pn,2016,158,56,0.000031,1,0,1,120000000.0,montrealCryptXXX
2,2,112wED5uHhY1aiSaWAzgeMDaCKFcCvj9Pn,2016,156,8,0.750000,2,0,4,240000000.0,montrealCryptXXX
3,3,113ESVqntvYprqQbsPN6tEmtE1bB44uokS,2016,155,6,0.500000,6,0,2,120000000.0,montrealCryptXXX
4,4,114gGmini5G9hEwEkWtKXoQqT1D6S5AJvU,2016,137,0,1.000000,1,0,2,119990000.0,montrealCryptXXX

In [5]:
data.shape

(14514, 11)

In [6]:
df = data.dropna()

In [7]:
df.shape

(14514, 11)

In [8]:
df.isnull().sum()

Unnamed: 0    0
address       0
year          0
day           0
length        0
weight        0
count         0
looped        0
neighbors     0
income        0
label         0
dtype: int64

In [9]:
df.columns

Index(['Unnamed: 0', 'address', 'year', 'day', 'length', 'weight', 'count',
       'looped', 'neighbors', 'income', 'label'],
      dtype='object')

In [10]:
df.describe()

,Unnamed: 0,year,day,length,weight,count,looped,neighbors,income
count,14514.000000,14514.000000,14514.000000,14514.000000,1.451400e+04,14514.000000,14514.000000,14514.000000,1.451400e+04
mean,7256.500000,2015.010197,174.846562,43.034587,5.492787e-01,670.591429,115.048712,2.071104,1.020469e+09
std,4189.975239,1.554373,91.263246,58.536232,1.578841e+00,1551.611539,644.582290,5.138103,1.343035e+10
min,0.000000,2011.000000,1.000000,0.000000,1.177281e-72,1.000000,0.000000,1.000000,3.000000e+07
25%,3628.250000,2014.000000,97.000000,2.000000,3.639131e-02,1.000000,0.000000,1.000000,8.434564e+07
50%,7256.500000,2016.000000,161.000000,8.000000,2.722658e-01,1.000000,0.000000,2.000000,1.200000e+08
75%,10884.750000,2016.000000,250.000000,88.000000,8.319469e-01,18.750000,0.000000,2.000000,3.000000e+08
max,14513.000000,2018.000000,365.000000,144.000000,1.477504e+02,14150.000000,11693.000000,514.000000,1.350545e+12

In [23]:
df.length.unique()

array([144,  56,   8,   6,   0,   2,   4,  36,  44, 122,  74,  28,  12,
        46,  50,  26, 108,  32,  18,  10,  14,  72,  16,  42,  20,  58,
        34,  66,  64,  24,  40, 102, 100,  94,  78,  30,  86,  52,  88,
        38,  82, 124, 142, 106,  90, 138,  70,  22, 140,  60, 110,  62,
        48,  68,  76,  54,  98,  84, 116,  92, 120, 132,  80,  96, 112,
       104, 114, 118, 128, 126, 134, 136, 130], dtype=int64)

In [32]:
p.crosstab(df.label,df.year)

year                  2011  2012  2013  2014  2015  2016  2017  2018
label
montrealCryptXXX         0     0     0     0     0  2419     0     0
montrealCryptoLocker    21   181  1958   259     0     0     0     0
paduaCryptoWall          0     0     0  1778   641     0     0     0
princetonCerber          0     0     0     0     0  1544   875     0
princetonLocky           0     0     0     0     0  2406    13     0
white                  297   318   341   306   306   284   272   295

In [33]:
p.Categorical(df['label']).describe()

                      counts     freqs
categories
montrealCryptXXX        2419  0.166667
montrealCryptoLocker    2419  0.166667
paduaCryptoWall         2419  0.166667
princetonCerber         2419  0.166667
princetonLocky          2419  0.166667
white                   2419  0.166667

In [35]:
p.Categorical(df['year']).describe()

            counts     freqs
categories
2011           318  0.021910
2012           499  0.034381
2013          2299  0.158399
2014          2343  0.161430
2015           947  0.065247
2016          6653  0.458385
2017          1160  0.079923
2018           295  0.020325

In [38]:
print("Days: ", sorted(df['day'].unique()))

Days:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365]

In [64]:
df['length'].value_counts()

0      3493
144    3136
2      1820
4      1068
6       758
       ...
116      11
120      10
104       9
96        9
112       6
Name: length, Length: 73, dtype: int64

In [55]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
14509    False
14510    False
14511    False
14512    False
14513    False
Length: 14514, dtype: bool

In [56]:
df.duplicated().sum()

0

In [57]:
df.columns

Index(['Unnamed: 0', 'address', 'year', 'day', 'length', 'weight', 'count',
       'looped', 'neighbors', 'income', 'label'],
      dtype='object')

In [70]:
print("Minimum Income : ", df.income.min())
print("Maximum Income : ", df.income.max())

Minimum Income :  30000000.0
Maximum Income :  1350545250000.0

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14514 entries, 0 to 14513
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  14514 non-null  int64
 1   address     14514 non-null  object
 2   year        14514 non-null  int64
 3   day         14514 non-null  int64
 4   length      14514 non-null  int64
 5   weight      14514 non-null  float64
 6   count       14514 non-null  int64
 7   looped      14514 non-null  int64
 8   neighbors   14514 non-null  int64
 9   income      14514 non-null  float64
 10  label       14514 non-null  object
dtypes: float64(2), int64(7), object(2)
memory usage: 1.3+ MB

In [72]:
df['label']

0        montrealCryptXXX
1        montrealCryptXXX
2        montrealCryptXXX
3        montrealCryptXXX
4        montrealCryptXXX
               ...
14509               white
14510               white
14511               white
14512               white
14513               white
Name: label, Length: 14514, dtype: object

In [73]:
from sklearn.preprocessing import LabelEncoder
var_mod = ['label']
le = LabelEncoder()
for i in var_mod:
    df[i] = le.fit_transform(df[i]).astype(int)

In [76]:
df['label']

0        0
1        0
2        0
3        0
4        0
        ..
14509    5
14510    5
14511    5
14512    5
14513    5
Name: label, Length: 14514, dtype: int32