In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('BitcoinHeistData.csv')

In [3]:
data.head()

,address,year,day,length,weight,count,looped,neighbors,income,label
0,111K8kZAEnJg245r2cM6y9zgJGHZtJPy6,2017,11,18,0.008333,1,0,2,100050000.0,princetonCerber
1,1123pJv8jzeFQaCV4w644pzQJzVWay2zcA,2016,132,44,0.000244,1,0,1,100000000.0,princetonLocky
2,112536im7hy6wtKbpH1qYDWtTyMRAcA2p7,2016,246,0,1.000000,1,0,2,200000000.0,princetonCerber
3,1126eDRw2wqSkWosjTCre8cjjQW8sSeWH7,2016,322,72,0.003906,1,0,2,71200000.0,princetonCerber
4,1129TSjKtx65E35GiUo4AYVeyo48twbrGX,2016,238,144,0.072848,456,0,1,200000000.0,princetonLocky

In [4]:
data.shape

(2916697, 10)

In [5]:
data.label.unique()

array(['princetonCerber', 'princetonLocky', 'montrealCryptoLocker',
       'montrealCryptXXX', 'paduaCryptoWall', 'montrealWannaCry',
       'montrealDMALockerv3', 'montrealCryptoTorLocker2015',
       'montrealSamSam', 'montrealFlyper', 'montrealNoobCrypt',
       'montrealDMALocker', 'montrealGlobe', 'montrealEDA2',
       'paduaKeRanger', 'montrealVenusLocker', 'montrealXTPLocker',
       'paduaJigsaw', 'montrealGlobev3', 'montrealJigSaw',
       'montrealXLockerv5.0', 'montrealXLocker', 'montrealRazy',
       'montrealCryptConsole', 'montrealGlobeImposter', 'montrealSam',
       'montrealComradeCircle', 'montrealAPT', 'white'], dtype=object)

In [6]:
data.isnull().sum()

address      0
year         0
day          0
length       0
weight       0
count        0
looped       0
neighbors    0
income       0
label        0
dtype: int64

In [7]:
data.label.value_counts()

white                          2875284
paduaCryptoWall                  12390
montrealCryptoLocker              9315
princetonCerber                   9223
princetonLocky                    6625
montrealCryptXXX                  2419
montrealNoobCrypt                  483
montrealDMALockerv3                354
montrealDMALocker                  251
montrealSamSam                      62
montrealGlobeImposter               55
montrealCryptoTorLocker2015         55
montrealGlobev3                     34
montrealGlobe                       32
montrealWannaCry                    28
montrealRazy                        13
montrealAPT                         11
paduaKeRanger                       10
montrealFlyper                       9
montrealXTPLocker                    8
montrealXLockerv5.0                  7
montrealVenusLocker                  7
montrealCryptConsole                 7
montrealEDA2                         6
montrealJigSaw                       4
paduaJigsaw                          2
montrealSam                          1
montrealComradeCircle                1
montrealXLocker                      1
Name: label, dtype: int64

In [8]:
df=data[(data['label']=='white')|(data['label']=='paduaCryptoWall')|(data['label']=='montrealCryptoLocker')|(data['label']=='princetonCerber')|(data['label']=='princetonLocky')|(data['label']=='montrealCryptXXX')]

In [9]:
df.head()

,address,year,day,length,weight,count,looped,neighbors,income,label
0,111K8kZAEnJg245r2cM6y9zgJGHZtJPy6,2017,11,18,0.008333,1,0,2,100050000.0,princetonCerber
1,1123pJv8jzeFQaCV4w644pzQJzVWay2zcA,2016,132,44,0.000244,1,0,1,100000000.0,princetonLocky
2,112536im7hy6wtKbpH1qYDWtTyMRAcA2p7,2016,246,0,1.000000,1,0,2,200000000.0,princetonCerber
3,1126eDRw2wqSkWosjTCre8cjjQW8sSeWH7,2016,322,72,0.003906,1,0,2,71200000.0,princetonCerber
4,1129TSjKtx65E35GiUo4AYVeyo48twbrGX,2016,238,144,0.072848,456,0,1,200000000.0,princetonLocky

In [10]:
df.label.unique()

array(['princetonCerber', 'princetonLocky', 'montrealCryptoLocker',
       'montrealCryptXXX', 'paduaCryptoWall', 'white'], dtype=object)

In [11]:
X = df.drop(labels='label',axis=1)
y=df.drop(labels=X,axis=1)

In [12]:
y

                   label
0        princetonCerber
1         princetonLocky
2        princetonCerber
3        princetonCerber
4         princetonLocky
...                  ...
2916692            white
2916693            white
2916694            white
2916695            white
2916696            white

[2915256 rows x 1 columns]

In [13]:
df.shape

(2915256, 10)

In [14]:
import imblearn
from collections import Counter
from imblearn.under_sampling import RandomUnderSampler
# instantiating the random undersampler
rus = RandomUnderSampler() 
# resampling X, y
X_rus, y_rus = rus.fit_resample(X, y)
# new class distribution
print(Counter(y_rus))
#Counter({0: 156, 1: 156})

Counter({'label': 1})

In [15]:
X_rus.head()

,address,year,day,length,weight,count,looped,neighbors,income
0,112Ns49UobQn1cX1G1axs1cmGvjFBxVxvf,2016,146,144,0.877485,4817,0,1,104020000.0
1,112wED5uHhY1aiSaWAzgeMDaCKFcCvj9Pn,2016,158,56,0.000031,1,0,1,120000000.0
2,112wED5uHhY1aiSaWAzgeMDaCKFcCvj9Pn,2016,156,8,0.750000,2,0,4,240000000.0
3,113ESVqntvYprqQbsPN6tEmtE1bB44uokS,2016,155,6,0.500000,6,0,2,120000000.0
4,114gGmini5G9hEwEkWtKXoQqT1D6S5AJvU,2016,137,0,1.000000,1,0,2,119990000.0

In [16]:
X_rus.shape

(14514, 9)

In [17]:
y_rus.shape

(14514, 1)

In [18]:
y_rus.value_counts()

label
white                   2419
princetonLocky          2419
princetonCerber         2419
paduaCryptoWall         2419
montrealCryptoLocker    2419
montrealCryptXXX        2419
dtype: int64

In [19]:
X_rus.head()

,address,year,day,length,weight,count,looped,neighbors,income
0,112Ns49UobQn1cX1G1axs1cmGvjFBxVxvf,2016,146,144,0.877485,4817,0,1,104020000.0
1,112wED5uHhY1aiSaWAzgeMDaCKFcCvj9Pn,2016,158,56,0.000031,1,0,1,120000000.0
2,112wED5uHhY1aiSaWAzgeMDaCKFcCvj9Pn,2016,156,8,0.750000,2,0,4,240000000.0
3,113ESVqntvYprqQbsPN6tEmtE1bB44uokS,2016,155,6,0.500000,6,0,2,120000000.0
4,114gGmini5G9hEwEkWtKXoQqT1D6S5AJvU,2016,137,0,1.000000,1,0,2,119990000.0

In [20]:
y_rus.head()

              label
0  montrealCryptXXX
1  montrealCryptXXX
2  montrealCryptXXX
3  montrealCryptXXX
4  montrealCryptXXX

In [23]:
result = pd.concat([X_rus, y_rus], axis=1, join="inner")

In [21]:
merged_df = pd.concat([X_rus, y_rus])

In [22]:
merged_df

,address,year,day,length,weight,count,looped,neighbors,income,label
0,112Ns49UobQn1cX1G1axs1cmGvjFBxVxvf,2016.0,146.0,144.0,0.877485,4817.0,0.0,1.0,104020000.0,NaN
1,112wED5uHhY1aiSaWAzgeMDaCKFcCvj9Pn,2016.0,158.0,56.0,0.000031,1.0,0.0,1.0,120000000.0,NaN
2,112wED5uHhY1aiSaWAzgeMDaCKFcCvj9Pn,2016.0,156.0,8.0,0.750000,2.0,0.0,4.0,240000000.0,NaN
3,113ESVqntvYprqQbsPN6tEmtE1bB44uokS,2016.0,155.0,6.0,0.500000,6.0,0.0,2.0,120000000.0,NaN
4,114gGmini5G9hEwEkWtKXoQqT1D6S5AJvU,2016.0,137.0,0.0,1.000000,1.0,0.0,2.0,119990000.0,NaN
...,...,...,...,...,...,...,...,...,...,...
14509,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,white
14510,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,white
14511,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,white
14512,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,white
14513,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,white